@import url('https://fonts.googleapis.com/css?family=Itim');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.box{
    position: relative;
    width: 380px;
    height: 520px;
    background: #1c1c1c;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#FEC8D8,#FEC8D8);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#DCFFFB,#DCFFFB);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.form{
    position: absolute;
    inset: 2px;
    background: #28292d;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.form h1{
    padding-top: 10mm;
    color: #FEC8D8;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.form h2{
    padding-top: 10mm;
    color: #DCFFFB;
    font-weight: 400;
    text-align: center;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 15px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding: 20px 25px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffff;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.inputBox span{
    margin-left: 25px;
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #EDE4E4;
    transform: translateY(-34px);
    font-size: 0.9em;
}
.inputBox i{
    position: absolute;
    margin-left: 25px;
    left: 0;
    bottom: 0;
    width: 110%;
    height: 2px;
    background: #D6BAD4;
}
.inputBox i:valid ~ span,
.inputBox i:focus ~ span{
    height: 44px;
}
.RegisterButton {
    border: none;
    outline: none;
    margin-top: 50px;
    margin-left: 25px;
    position: relative;
    padding: 2px 5px;
    width: 88%;
    height: 10%;
    background: #ffff;
    font-weight: 800;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
.input2Box{
    position: relative;
    width: 300px;
    margin-top: 15px;
}
.input2Box input{
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding: 20px 25px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffff;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.input2Box span{
    margin-left: 25px;
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.input2Box input:valid ~ span,
.input2Box input:focus ~ span
{
    color: #EDE4E4;
    transform: translateY(-34px);
    font-size: 0.9em;
}
.input2Box i{
    position: absolute;
    margin-left: 25px;
    left: 0;
    bottom: 0;
    width: 110%;
    height: 2px;
    background: #D6BAD4;
}
.input2Box i:valid ~ span,
.input2Box i:focus ~ span{
    height: 44px;
}
.input3Box{
    position: relative;
    width: 300px;
    margin-top: 15px;
}
.input3Box input{
    position: relative;
    width: 100%;
    padding-left: 25px;
    padding: 20px 25px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffff;
    font-size: 1em;
    letter-spacing: 0.1em;
}
.input3Box span{
    margin-left: 25px;
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.1em;
    transition: 0.5s;
}
.input3Box input:valid ~ span,
.input3Box input:focus ~ span
{
    color: #EDE4E4;
    transform: translateY(-34px);
    font-size: 0.9em;
}
.input3Box i{
    position: absolute;
    margin-left: 25px;
    left: 0;
    bottom: 0;
    width: 110%;
    height: 2px;
    background: #D6BAD4;
}
.input3Box i:valid ~ span,
.input3Box i:focus ~ span{
    height: 44px;
}