<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MIGRAINE | LOGIN</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lineapi.css') }}">
        <style>
            .btn-up {
                border: none;
                outline: none;
                margin-top: 50px;
                margin-left: 25px;
                position: relative;
                padding: 2px 5px;
                width: 88%;
                height: 20%;
                background: #ffff;
                font-weight: 800;
                font-size: 18px;
                cursor: pointer;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form action="/lineapi" method="POST">
        <div class="box">
            <div class="form">
                <h1>PY. BUS LINE</h1>
                <h2>Welcome to Piya bus checker</h2>
                <br>
                <div class="inputBox">
                    <input type="text" required="required" name="message">
                    <span>Message</span>
                    <i></i>
                </div>
                <button class="btn-up">Enter</button>
            </div>
        </div>
    </form>
        <!--<script src="" async defer></script>-->
    </body>
</html>